{% extends 'base_docente.html' %}

{% load static %}

{% block navegacion %}
<li class="nav-item"><a class="nav-link" href="{% url 'docente_index' %}">Inicio</a></li>
<li class="nav-item"><a class="nav-link" href="{% url 'ensayos_docente' %}">Gestionar Ensayos</a></li>
<li class="nav-item"><a class="nav-link" href="{% url 'resultados_docente' %}">Resultados</a></li>
<li class="nav-item"><a class="nav-link" href="{% url 'listar_preguntas' %}">Banco de Preguntas</a></li>
{% endblock %}


{% block cuenta-atras %}
    <li class="nav-item">
        <a class="nav-link" href="{% url 'cuenta_docente' %}">Cuenta</a>
    </li>
    <li class="nav-item">
        <a href="{% url 'logout' %}" class="nav-link">Cerrar sesión</a>
    </li>
{% endblock %}

{% block content %}

<div class="row">
    <div class="col-md-8">
        <h1 class="mb-5"> Cuenta</h1>
        <p>¡Pronto!</p>
    </div>
    <div class="col-md-4 d-flex justify-content-center align-items-center">
        <img src="https://admision.uautonoma.cl/content/uploads/2023/07/universidad-autonoma-blog-que-se-puede-llevar-paes-800x366.jpeg" alt="FotoHome" width="300" height="210">
    </div>
</div>
{% endblock %}