{% extends 'base_docente.html' %}

{% block navegacion %}
<li class="nav-item"><a class="nav-link" href="{% url 'docente_index' %}">Inicio</a></li>
<li class="nav-item"><a class="nav-link" href="{% url 'listar_ensayos' %}">Gestionar Ensayos</a></li>
<li class="nav-item"><a class="nav-link" href="{% url 'resultados_docente' %}">Resultados</a></li>
<li class="nav-item"><a class="nav-link" href="{% url 'listar_preguntas' %}">Banco de Preguntas</a></li>
{% endblock %}

{% block cuenta-atras %}
<li class="nav-item"><a class="nav-link" href="{% url 'cuenta_docente' %}">Cuenta</a></li>
<li class="nav-item"><a href="{% url 'logout' %}" class="nav-link">Cerrar sesión</a></li>
{% endblock %}

{% block content %}
<h2 class="mb-4">{{ form.instance.pk|yesno:"Editar pregunta,Nueva pregunta" }}</h2>

<form method="post">
    {% csrf_token %}
    <div class="mb-3">
        {{ form.enunciado.label_tag }} {{ form.enunciado }}
    </div>

    <div class="mb-3">
        {{ form.opcion_A.label_tag }} {{ form.opcion_A }}
    </div>
    <div class="mb-3">
        {{ form.opcion_B.label_tag }} {{ form.opcion_B }}
    </div>
    <div class="mb-3">
        {{ form.opcion_C.label_tag }} {{ form.opcion_C }}
    </div>
    <div class="mb-3">
        {{ form.opcion_D.label_tag }} {{ form.opcion_D }}
    </div>

    <div class="mb-3">
        {{ form.respuesta_correcta.label_tag }} {{ form.respuesta_correcta }}
    </div>

    <div class="mb-3">
        {{ form.temas.label_tag }} {{ form.temas }}
    </div>
    <button type="submit" class="btn btn-success">Guardar</button>
    <a href="{% url 'listar_preguntas' %}" class="btn btn-secondary">Cancelar</a>
</form>
{% endblock %}
